@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*общие стили*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
height: 100%;
}

body {
height: 100%;
width: 1200px;
margin: 0 auto;
font-family: "PT Sans" , "Arial", sans-serif ;
line-height: 21px;
font-size: 18px;
font-weight: 400;
font-style: normal;
color: #333333;
background-color: #f2f2f2;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
 .page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.wrapper{
  margin: 0 auto;
  width: 1060px;
}
.main-index,
.main-inner {
  flex-grow: 1;
}

/* кнопки  */
.button{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #ffffff;

}
.button:hover {
  color: rgba(255, 255, 255, 0.6);
}
 /* {
  border: 3px solid #83b3d3;
} */
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: rgba(255, 255, 255, 0.1);
}
.header-button {
  font-size: 16px;
  line-height: 20px;
}
.button-lg {
  padding-inline: 38px;
  font-size: 20px;
  line-height: 36px;
}
.button-basic {
  background-color: #756157;
  color: #ffffff;
}

.button-second {
  background-color: #82b3d3;
  color: #ffffff;
}
.button-favorite{
  background-color: #7DB54F;
  color: #ffffff;
}
.toggle-button{
  width: 20px;
  height: 20px;
}
.button-apply{
  padding:8px 50px;
}
.button-reset{
  margin-top: 32px;
  background-color: transparent;
}
/*title*/
.second-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  }
  .lead-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  }

/*Навигация*/
.navigation {
  display: flex;
  gap:28px;
}
/* Логотип */
.navigation-logo {
  min-width: 140px;
  margin-bottom: -6px;
  z-index: 1;
}
.navigation-logo-image {
  display: block;
}
/* Навиация по сайту */
.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
padding: 0;
  list-style: none;
}
.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  display: block;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 0;
  position: relative;
  text-decoration: none;
}
.navigation-link[aria-current="page"]::after {
  border-bottom: 2px solid #756257;
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navigation-link:hover:not([aria-current="page"]) {
  color: #756157;
}

.navigation-link:focus:not([aria-current="page"]) {
  color: #756157;
}

.navigation-link:active:not([aria-current="page"]) {
  color: rgba(117, 97, 87, 0.3);
}

  .navigation-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
  }
  .navigation-user-link {
  display: block;
}
.navigation-user-link:not(.button) {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 21px;
  min-width: 44px;
  position: relative;
  text-align: center;
}
.navigation-user-link svg {
  display: inline-block;
  margin: auto;
  vertical-align: text-bottom;
}
.navigation-user-link:visited:not(.button) {
  color: #000000;
}

.navigation-user-link:hover:not(.button) {
  color: #756157;
}

.navigation-user-link:focus:not(.button) {
  color: #756157;
}

.navigation-user-link:active:not(.button) {
  color: rgba(117, 97, 87, 0.3);
}
.notification-number {
  background-color: #7db54f;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  position: absolute;
  right: 4px;
  top: -3px;
}

.navigation-user-link.button {
  margin-left: 20px;
  min-width: 160px;
}

  /*hero*/
.hero {
padding: 51px 371px 82px;
text-align: center;
background-image:url("../images/vector.svg"), url("../images/background-header.jpg");
background-repeat: no-repeat;
background-size: 100%, cover;
background-position: center bottom, center;
background-color: #031e2f33;
}

/*advantages*/
.advantages-title-container{
  margin: 69px 0 90px;
}

.advantages-lead {
  color: #000000;
  text-align: center;
  max-width: 630px;
  margin: 0 auto 25px;
}
.advantages-text {
  font-size:22px;
  line-height:26px;
  text-align: center;
}
.advantages-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
text-transform: uppercase;
margin-block: 0 62px;
position: relative;
padding-inline: 29px;
}
.advantages-title::after{
position: absolute;
content: "";
bottom: -31px;
left: 85px;
inline-size: 60px;
block-size: 2px;
background-color: rgba(0, 0, 0, 0.3);
}
.advantages-item:has(.advantages-img) .advantages-title::after {
    background-color: rgba(255, 255, 255, 0.3);
}
.advantages-block{
  display: flex;
  align-items: center;
}
.advantages-item{
  width: 400px;
  min-width: calc(100%/3);
}
.advantages-container{
  padding: 102px 85px;
}
.advantages-card {
 padding: 102px 85px;
}
.advantages-description{
text-align: center;
margin:0;
}
.advantages-item-large{
display: flex;
background-color:#82B3D3;
color: #ffffff;
min-width: 100%;
max-width: 100%;
}
.advantages-light {
background-color:rgba(131, 179, 211, 0.12);
}
.medium-color{
  background: #83B3D333;

}

/*сервис лист*/
.services {
  text-align: center;
  margin: 0;
  padding-top: 64px;
}
.services-preview-title {
  font-weight:700;
   font-size:30px;
   line-height:36px;
   text-align: center;
   text-transform: uppercase;
   max-width: 500px;
  margin: 0 auto 20px;
 }
 .services-preview-lead {
   font-size:22px;
   line-height:26px;
   margin-bottom: 64px;
 }
 .services-list {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style: none;
   min-height: 385px;
 }
 .services-item {
  width: calc(100%/3);
 padding: 80px 85px;
 box-sizing: border-box;
 }
 .services-title {
   font-weight:700;
   font-size:24px;
   line-height:28px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
 }
 .services-description {
   text-align: center;
   margin: auto;
   max-width: 230px;
 }
.services-item-icon-home::before{
content: "";
width: 75px;
height: 72px;
background-image:  url(../images/icons/house.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
.services-item-icon-burger::before{
content: "";
width: 74px;
height: 70px;
background-image:  url(../images/icons/burger.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
.services-item-icon-gift::before{
content: "";
width: 64px;
height: 76px;
background-image:  url(../images/icons/gift.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
.services-item:nth-child(odd){
  background-color:#83b3d31f ;
}


/*Поиск*/
.search {
  text-align: center;
  padding: 96px 0;
}
.search-description {
  font-size:22px;
  line-height:26px;
  margin: 0 auto 54px auto;
}
  .search-button {
  min-width: 376px;
}

/*Подписка*/
.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 0 104px;
  color: #ffffff;
}
.subscribe-catalog {
  text-align: center;
  padding: 96px 0 104px;
}
.subscribe-title {
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe-text {
  font-size:22px;
  line-height:26px;
  width: 475px;
  margin: 0 auto 54px;

}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
  margin: 0 auto;
}
/*Инпутс*/
.subscribe-form-input {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 412px;
  border-radius: 4px 0 0 4px;
  border: none;
  background: #f2f2f2;
  padding: 14px 0 14px 20px;
  flex-grow: 1;
  cursor: pointer;
  font-family: inherit;
}
.subscribe-form-input:hover {
  color:  #000000;
  background-color: #e6e6e6;
  font-weight: 700;
}

.subscribe-form-input:active {
  background-color: #e6e6e6;
}
.subscribe-form-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}
.subscribe-button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*Футер*/
.page-footer {
  margin: auto;
}
.page-footer-wrapper{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 0 35px;
}
/*Соц сети*/
.social-list{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-item {
  text-align: center;
  vertical-align: middle;
  width: 47px;
}
.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link svg {
  color: #83b3d3;
}
/*Телефон*/
.phone{
 color: inherit;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}
.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}
/*Разработчик*/
.copyright {
  color: #000000;
 }

.copyright:hover {
  color: #756157;
}

.copyright:focus {
  color: #756157;
}

.copyright:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright svg {
  vertical-align: middle;
}

/*каталог*/
.filters{
color:#FFFFFF;
background-image: url("../images/background-filters.jpg");
background-color: #18296c;
background-repeat: no-repeat;
background-size: cover;
width: auto;
padding: 35px 70px 70px;
}
.inner-header-title{
font-size: 60px;
font-weight: 700;
line-height: 78px;
text-align: left;
margin: 0;
margin-bottom: 8px;
}
/* хлебные крошки */
.breadcrumbs{
  display: flex;
  margin:0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-link{
margin: 0;
padding: 0;
margin-right: 28px;
font-size: 16px;
font-weight: 400;
line-height: 21px;
color:#FFFFFF;
text-decoration: none;
}
.breadcrumbs-item {
  margin-right: 28px;
}
.breadcrumbs-item:nth-child(1) {
  background: url("../images/icons/home.svg") no-repeat;
  background-position: center;
}

/*фильтры */
.catalog-filter{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.form-fieldset-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:70px;
}
.catalog-filter-group{
  margin: 0;
  padding: 0;
  border:none;
}
.catalog-filter-title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
margin-bottom: 32px;
}
.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filter-item{
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}
.catalog-filter-item:not(:last-child) {
    margin-block-end: 16px;
}
.contol-label{
  cursor: pointer;
}
.catalog-filter-range-group{
display: flex;
align-items: center;
gap:2px;
}
.catalog-filter-range-label{
  position: relative;
}
.catalog-input-renge-input{
padding:12px 20px;
background-color: #f2f2f2;
border: none;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
width: 143px;
}
.catalog-input-range-label-text{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #000000;
opacity:0.3;
position:absolute;
right: 20px;
top: 0;
bottom: 0;
margin: auto;
display: inline-block;
height: fit-content;
}
.catalog-input-renge-input-reverse{
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
}
.catalog-filter-slaider{
  width: 100%;
  margin-top: 36px;
}
.catalog-filter-slaider-total{
  width:100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.catalog-filter-slaider-current{
width: 226px;
height: 100%;
background-color: #FFFFFF;
position: absolute;
left:0;
top:0;
}
.catalog-form-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}
.catalog-filter-slaider-current::after{
content: "";
width: 20px;
height: 20px;
background-color: #FFFFFF;
position: absolute;
left:0;
top:-9px;
border-radius: 5px;
cursor: pointer;
}
.catalog-filter-slaider-current::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  position: absolute;
  right:0;
  top:-9px;
  border-radius: 5px;
  cursor: pointer;
  }
/*каталог продуктов*/
.catalog-products{
  padding-block: 50px 60px;
}
.catalog-wrapper{
  inline-size: 1060px;
  margin-inline: auto;
}
.container-title{
display: flex;
justify-content: space-between;
align-items: center;
gap: 70px;
margin-block-end: 40px;
}
.catalog-products-title{
display: flex;
align-items: center;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform:uppercase;
margin: 0;
padding: 0;
}

.select-control{
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: #ffffff;
  width: 292px;
  padding: 14px 0 14px 20px;
  cursor: pointer;
  margin-left: auto;
}
.view-buttons{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  list-style: none;
}
.view-buttons-item {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}
.view-buttons-item-current {
  border: 2px solid #000000;
}
.view-button-tile::after{
content: "";
width: 100%;
height: 100%;
background-image: url(../images/icons/tile-view.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
.view-button-card::after{
content: "";
width: 100%;
height: 100%;
background-image: url(../images/icons/card-view.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
.view-button-list::after{
content: "";
width: 100%;
height: 100%;
background-image: url(../images/icons/list-view.svg);
background-repeat:no-repeat ;
background-size: auto;
background-position: center;
display: inline-block;
}
/*карточки отелей*/
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0 0 80px;
  gap: 20px;
  padding-block-end: 39px;
  border-block-end: 2px solid #e6e6e6;
  margin-block: 0 39px;
}
.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}
.catalog-item-link:nth-child(1) {
  grid-column: 1 / -1;
}
.catalog-item-link:nth-child(2) {
  grid-column: 1 / -1;
}
.catalog-item-image {
  display: block;
  margin: 0;
}

.catalog-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.catalog-item-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.catalog-type {
  display: inline-block;
  color: #333333;
  width: 140px;
  margin: 0;
}

.catalog-price {
  display: inline-block;
  color: #333333;
  text-align: right;
  width: 140px;
  margin: 0;
}
.catalog-rating{
  padding: 0;
  margin: 0;
}

/*pagination*/
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px;

}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
  text-decoration: none;
  }
  .pagination-current{
  color:#000000;
  background-color:#F2F2F2;
  }
  .pagination-text{
    color: #000000;
    font-family: "PT Sans" , "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    background: #ffffff;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
/*
   1)фокус подпискт должен быть синий
   2) див сделать на карточкти
   3)вектор на логотип сделать
   4)картинка в подписки очень растянутая
   /
