@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*общие стили*/
/*
*,
*::before,
*::after {
  box-sizing: border-box;
} */

html {
height: 100%;
background-color: #f2f2f2;
}

body {
display: flex;
flex-direction: column;
min-height: 100%;
width: 1200px;
margin: 0 auto;
font-family: "PT Sans" , "Arial", sans-serif ;
line-height: 21px;
font-size: 18px;
font-weight: 400;
font-style: normal;
color: #333333;
background-color: #ffffff;
}
.page-container{
  inline-size: 1200px;
  margin-inline: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.main-index,
.main-inner {
  flex-grow: 1;
}

/* кнопки  */
.button{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #ffffff;

}
.header-button {
  min-width: 160px;
  margin: auto 70px auto auto;
}
.button-lg {
  padding-inline: 38px;
  font-size: 20px;
  line-height: 36px;
}
.button-basic {
  background-color: #756157;
}

.button-second {
  background-color: #82b3d3;
}
.button-favorite{
  background-color: #7DB54F;
}
.toggle-button{
  width: 20px;
  height: 20px;
}
.button-apply{
  padding:8px 50px;
}
.button-reset{
  margin-top: 32px;
  background-color: transparent;
}
/*title*/
.second-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  }
  .lead-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  }

/*navigation*/
.page-header {
  display: flex;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 20px 0 30px;
}
.navigation-logo {
  margin-left: 70px;
  z-index: 1;
  margin-bottom: -10px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  z-index: 1;
  list-style: none;
}
.navigation-item {
  min-width: 68px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 0 18px;
  margin: 0 16px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.navigation-link-current {
  border-bottom: 2px solid #756257;
  cursor: default;
}
.navigation-user-item {
  width: 44px;
}
  .navigation-user {
    display: flex;
    margin: 0 0 0 auto;
    list-style: none;
  }
  .navigation-user-item:nth-child(1) {
    background: url("../images/icons/search.svg") no-repeat 50% 50%;
  }

  .navigation-user-item:nth-child(2) {
    background: url("../images/icons/heart.svg") no-repeat 50% 50%;
  }
   .notification-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -9px;
    left: 5px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    background-color: #7db54f;
    border-radius: 50%;
  }

  /*hero*/
.hero{
text-align: center;
background-image:url("../images/vector.svg"), url("../images/background-header.jpg");
background-repeat: no-repeat;
background-size: 100%, cover;
background-position: center bottom, center;
background-color: #3e9fe033;
}
.hero-image {
  margin: 51px 0 82px;
}
/*advantages*/
.advantages-title-container{
  margin: 69px 0 90px;
}

.advantages-lead {
  color: #000000;
  text-align: center;
  max-width: 630px;
  margin: 0 auto 25px;
}
.advantages-text {
  font-size:22px;
  line-height:26px;
  text-align: center;
}
.advantages-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
text-transform: uppercase;
margin:0 28px 62px;
}
.advantages-block{
  display: flex;
  align-items: center;
}
.advantages-item{
  width: 400px;
  min-width: calc(100%/3);
}
.advantages-container{
  padding: 102px 85px;
}
.advantages-card {
 margin: 102px 85px;
}
.advantages-description{
text-align: center;
margin:0;
}
.advantages-item-large{
background-color:#82B3D3;
color: #ffffff;
min-width: 100%;
max-width: 100%;
}
.advantages-light {
background-color:rgba(131, 179, 211, 0.12);
}
.medium-color{
  background: #83B3D333;

}

/*сервис лист*/
.services {
  text-align: center;
  margin: 0;
  padding-top: 64px;
}
.services-preview-title {
  font-weight:700;
   font-size:30px;
   line-height:36px;
   text-align: center;
   text-transform: uppercase;
   max-width: 500px;
  margin: 0 auto 20px;
 }
 .services-preview-lead {
   font-size:22px;
   line-height:26px;
   margin-bottom: 64px;
 }
 .services-list {
   display: flex;
   padding: 0;
   list-style: none;
   min-height: 385px;
 }
 .services-item {
  width: calc(100%/3);
 padding: 80px 85px;
 }
 .services-title {
   font-weight:700;
   font-size:24px;
   line-height:28px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
 }
 .services-description {
   text-align: center;
   margin: auto;
   max-width: 230px;
 }
 .services-item:nth-child(1) {
  background: #83b3d31f url("../images/icons/house.svg") no-repeat;
  background-position: center 82px;
}
.services-item:nth-child(2) {
  background:url("../images/icons/burger.svg") no-repeat;
  background-position: center 82px;
}
.services-item:nth-child(3) {
  background: #83b3d31f url("../images/icons/gift.svg") no-repeat;
  background-position: center 82px;
}
.services-content{
  margin-top: 102px;
}
/*search*/
.search {
  text-align: center;
  padding: 96px 0;
}
.search-description {
  font-size:22px;
  line-height:26px;
  margin: 0 auto 54px auto;

}


/*subscribe*/
.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 0 104px;
  color: #ffffff;
}
.subscribe-catalog {
  text-align: center;
  padding: 96px 0 104px;
}
.subscribe-title {
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe-text {
  font-size:22px;
  line-height:26px;
  width: 475px;
  margin: 0 auto 54px;

}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
  margin: 0 auto;
}
.subscribe-form-input {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 412px;
  border-radius: 4px 0 0 4px;
  border: none;
  background: #f2f2f2;
  padding: 14px 0 14px 20px;
  flex-grow: 1;
}
.subscribe-button{
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

/*footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 40px 70px 30px;
}
.phone{
font-size: 40px;
line-height: 40px;
text-decoration: none;
color:#000000;
text-align: center;
margin: auto;
padding: 5px;
}
.social {
  display: flex;
  margin: auto 0;
  list-style: none;
}
.social-link {
  display: block;
  width: 100%;
  height: 100%;
}
.social-item {
  width: 47px;
  height: 40px;
}
.social-item:nth-child(1) {
  background: url("../images/icons/vk.svg") no-repeat;
  background-position: center;
}
.social-item:nth-child(2) {
  background: url("../images/icons/telegram.svg") no-repeat;
  background-position: center;
}
.social-item:nth-child(3) {
  background: url("../images/icons/youtube.svg") no-repeat;
  background-position: center;
}

/*каталог*/
.filters{
color:#FFFFFF;
background-image: url("../images/background-filters.jpg");
background-repeat: no-repeat;
background-size: cover;
width: auto;
padding: 35px 70px 70px;
}
.inner-header-title{
font-size: 60px;
font-weight: 700;
line-height: 78px;
text-align: left;
margin: 0;
margin-bottom: 8px;
}
/* хлебные крошки */
.breadcrumbs{
  display: flex;
  margin:0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-link{
margin: 0;
padding: 0;
margin-right: 28px;
font-size: 16px;
font-weight: 400;
line-height: 21px;
color:#FFFFFF;
text-decoration: none;
}
.breadcrumbs-item {
  margin-right: 28px;
}
.breadcrumbs-item:nth-child(1) {
  background: url("../images/icons/home.svg") no-repeat;
  background-position: center;
}

/*фильтры */
.catalog-filter{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.form-fieldset-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:70px;
}
.catalog-filter-group{
  margin: 0;
  padding: 0;
  border:none;
}
.catalog-filter-title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
margin-bottom: 32px;
}
.catalog-filter-list{
  margin-right: 70px;
  margin-bottom: 73px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filter-item{
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}
.catalog-filter-range-group{
display: flex;
align-items: center;
gap:2px;
}
.catalog-filter-range-label{
  position: relative;
}
.catalog-input-renge-input{
padding:12px 20px;
background-color: #f2f2f2;
border: none;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
width: 143px;
}
.catalog-input-range-label-text{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #000000;
opacity:0.3;
position:absolute;
right: 20px;
top: 0;
bottom: 0;
margin: auto;
display: inline-block;
height: fit-content;
}
.catalog-input-renge-input-reverse{
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
}
.catalog-filter-slaider{
  width: 100%;
  margin-top: 36px;
}
.catalog-filter-slaider-total{
  width:100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.catalog-filter-slaider-current{
width: 226px;
height: 100%;
background-color: #FFFFFF;
position: absolute;
left:0;
top:0;
}
.catalog-form-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}
.catalog-filter-slaider-current::after{
content: "";
width: 20px;
height: 20px;
background-color: #FFFFFF;
position: absolute;
left:0;
top:-9px;
border-radius: 5px;
cursor: pointer;
}
.catalog-filter-slaider-current::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  position: absolute;
  right:0;
  top:-9px;
  border-radius: 5px;
  cursor: pointer;
  }
/*каталог продуктов*/
.catalog-products{
  padding: 50px 70px 60px 70px;
}
.container-title{
  width: 100%;
  display: flex;
  margin-bottom:40px;
}
.catalog-products-title{
display: flex;
align-items: center;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform:uppercase;
margin: 0;
padding: 0;
}

.select-control{
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: #ffffff;
  width: 292px;
  padding: 14px 0 14px 20px;
  cursor: pointer;
  margin-left: auto;
}
.view-buttons{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  list-style: none;
}
.view-buttons-item {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}
.view-buttons-item-current {
  border: 2px solid #000000;
}
.view-buttons-item:nth-child(1) {
  background: url("../images/icons/tile-view.svg") no-repeat;
  background-position: center;
}
.view-buttons-item:nth-child(2) {
  background: url("../images/icons/card-view.svg") no-repeat;
  background-position: center;
}
.view-buttons-item:nth-child(3) {
  background: url("../images/icons/list-view.svg") no-repeat;
  background-position: center;
}
/*карточки отелей*/
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0;
  margin: 0 0 80px;
  gap: 20px;
}
.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
  width: 300px;
  padding: 20px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}
.catalog-item-link:nth-child(1) {
  grid-column: 1 / -1;
}
.catalog-item-link:nth-child(2) {
  grid-column: 1 / -1;
}
.catalog-item-image {
  display: block;
  margin: 0;
}

.catalog-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.catalog-item-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.catalog-type {
  display: inline-block;
  color: #333333;
  width: 140px;
  margin: 0;
}

.catalog-price {
  display: inline-block;
  color: #333333;
  text-align: right;
  width: 140px;
  margin: 0;
}

/*pagination*/
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
  text-decoration: none;
  }
  .pagination-current{
  color:#000000;
  background-color:#F2F2F2;
  }
  .pagination-text{
    color: #000000;
    font-family: PT Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    background: #ffffff;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
/*
   в инфроструктуре и тд все не в одну линиюю стоит
   иконки ширина и высота не такие
   кнопки некоторые уехали из за илайн блока в button
   /
